.repl_history
tags
app/pixate_code.rb
.DS_Store
nbproject
.redcar
#*#
*~
*.sw[po]
*.gem
.eprj
.sass-cache
.idea
.dat*.*
Gemfile.lock

/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/resources/*.nib
/resources/*.momd
/resources/*.storyboardc
/spec/reports/
/tmp/
/build/
/vendor/
